<mat-card>
    <div class="container">
        <div class="search-bar">
            <mat-form-field appearance="outline" class="custom-form-field">
                <mat-label>Search...</mat-label>
                <input class="custom-input" matInput (keyup)="applyFilter($event)" />
            </mat-form-field>
        </div>
        <div class="button-container">
            <button mat-raised-button color="primary" (click)="openAddForecastDialog()">
                <mat-icon>add</mat-icon> Add Forecast
            </button>
        </div>
    </div>

    <!-- Table container to stretch the table to full page height -->
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="device">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Device</th>
                <td mat-cell *matCellDef="let element">{{ element.device }}</td>
            </ng-container>

            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
                <td mat-cell *matCellDef="let element">{{ element.user }}</td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element">{{ element.status }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" aria-label="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" aria-label="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <!-- Pagination to always stay at the bottom -->
    <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
</mat-card>
