:host {
  padding: 0 0.5em;

  .model-select {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.715);
    outline: none;
    color: #333;
  }

  .model-select-label {
    font-size: 0.7em;
    color: #333;
    padding: 0 0.5em;
  }

  .anomaly-detection-container {
    padding: 0.5em;
    width: 100%;
  }

  .anomaly-detection-content {
    width: 100%;
  }

  .anomaly-detection-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    position: relative;

    .anomaly-detection-header-divider {
      width: 100%;
      height: 1px;
      background-color: #3333335e;
      position: absolute;
      bottom: 0;
    }
  }

  .anomaly-detection-tabs {
    display: flex;
    padding-left: 0.5em;
    gap: 1.5em;
    cursor: pointer;
    color: rgba(51, 51, 51, 0.59);

    :hover {
      color: #333333;
    }

    .active {
      color: #333333;
    }
  }

  .anomaly-detection-tabs p {
    font-size: 0.85rem;
  }

  .anomaly-detection-action {
    display: flex;
    gap: 1.5em;
    padding-right: 0.5em;
  }
}
