body {
  color: var(--tb-dark-mat-text-500);
}

tb-details-panel {
  .mat-content {
    background: var(--tb-dark-background) !important;

    // tb-widget {
    //     // background: rgb(20, 23, 24) !important;
    //     background: var(--tb-dark-widget) !important;
    //     // color: var(--tb-dark-mat-text-500) !important;
    //     color: white;
    //   }
  }
}

tb-home-links {
  .tb-widget {
    background: var(--tb-dark-widget) !important;
    color: white !important;

    .tb-home-widget-link {
      color: var(--tb-dark-mat-text-500) !important;
    }
  }
}

tb-dashboard-page {
  tb-dashboard-toolbar {
    .mat-toolbar {
      background: var(--tb-dark-app-bar) !important;
    }
  }

  tb-widget-container {
    .tb-widget {
      background: var(--tb-dark-widget);
      border-radius: 10px;
      color: var(--tb-dark-mat-text-500);
    }
  }

  .tb-dashboard-title {
    &,
    label,
    mat-label {
      color: var(--tb-dark-mat-text-500) !important;
    }
  }
}

mat-icon,
tb-icon {
  color: rgba(255, 255, 255, 0.84) !important;
  // color: white !important;
}

mat-drawer-content {
  mat-row:hover {
    background: #2e2e30 !important;
  }
}

.tb-dark
  .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active
  .mdc-tab__text-label {
  color: var(--tb-dark-mat-text-500) !important;
}

.tb-dark .mat-mdc-tab .mdc-tab__text-label {
  color: var(--tb-dark-mat-text-300) !important;
}

.tb-dark .mdc-data-table__row:hover {
  background: #2e2e30 !important;
}

.mdc-button--unelevated[color="primary"][ng-reflect-disabled="false"] {
  &,
  mat-icon {
    color: var(--tb-dark-mat-text-A100) !important;
  }
}

.tb-entity-table-content {
  &.tb-outlined-border {
    border: solid 1px var(--tb-dark-mat-800);
  }
}

.table-container {
  // border: solid 1px var(--tb-dark-mat-800);
  // background: mat.get-color-from-palette($tb-dark-theme-background, card);
  background: map_get($tb-dark-mat-indigo, card);
  mat-row {
    &:hover {
      // background: #2e2e30 !important;
    }
  }
}

.mat-toolbar {
  // border-bottom: solid 1px var(--tb-dark-mat-800);
}

.tb-popover-inner-content {
  background: var(--tb-dark-app-bar);
  color: var(--tb-dark-mat-text-300);
}

.mat-toolbar.mat-primary {
  background: var(--tb-dark-app-bar) !important;
}

table {
  mat-header-row {
    background: var(--tb-dark-app-bar) !important;
  }
}

tb-timewindow-panel {
  background: var(--tb-dark-background) !important;
}

.mdc-button--raised:not([ng-reflect-disabled="true"]):not(
    [ng-reflect-color="accent"]
  ) {
  color: var(--tb-dark-mat-text-A100) !important;

  & mat-icon {
    color: unset !important;
  }
}

.mat-expansion-panel {
  background: none !important;
}

.mat-mdc-chip-selected {
  .mdc-evolution-chip__checkmark,
  .mat-mdc-chip-action-label {
    color: var(--tb-dark-mat-text-A100) !important;
  }
}

.mat-drawer-backdrop.mat-drawer-shown {
  background: var(--tb-dark-mat-50) !important;
}

input[type="number"] {
  // background: transparent;
  // -moz-appearance: textfield;
}

tb-widget-preview {
  background: none !important;
}

.message,
.time {
  color: var(--tb-dark-mat-text-300) !important;
}

table {
  box-shadow: none !important;
}

mat-sidenav {
  .tb-side-menu-toolbar {
    border-right: 1px solid #5d5d5d91 !important;
  }
}

mat-sidenav-content {
  mat-toolbar {
    border-bottom: 1px solid #5d5d5d91 !important;
  }
}