.tb-default {
  :host {
    .model-select {
      background-color: rgba(255, 255, 255, 0.715);
      color: #333;

    }
  }
}

.tb-dark {
  :host {

  .model-select {
    color: #f0e5e5;
      background: var(--tb-dark-selected-button);
        border: 1px solid #3f4449;
  }
  }
}


:host {
  padding: 0 0.5em;

  overflow: hidden;

  height: 92vh;

  .model-select {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    outline: none;
  }


  .chart-container {
    margin-top: 1.5rem;
  }

  .model-select-label {
    font-size: 0.7em;
    // color: #333;
    padding: 0 0.5em;
  }

  .anomaly-detection-container {
    padding: 0.5em;
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  .anomaly-detection-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    position: relative;

    .anomaly-detection-header-divider {
      width: 100%;
      height: 1px;
      background-color: #3333335e;
      position: absolute;
      bottom: 0;
    }
  }

  .anomaly-detection-tabs {
    display: flex;
    padding-left: 0.5em;
    gap: 1.5em;
    cursor: pointer;
    // color: rgba(51, 51, 51, 0.59);

    // :hover {
    //   color: #333333;
    // }
    //
    // .active {
    //   color: #333333;
    // }
  }

  .anomaly-detection-tabs p {
    font-size: 0.85rem;
  }

  .anomaly-detection-action {
    display: flex;
    gap: 1.5em;
    padding-right: 0.5em;
  }
}
