<div>
    <label class="model-select-label">Anomaly tasks</label>
    <select (change)="changeModel($event.target.value)" class="model-select">
        <option *ngFor="let model of models" [value]="model.id" [selected]="model.id === '#' + id">
            {{ model.id }} - {{ model.device }} - {{ model.user }} -
            {{ model.date }} - {{ model.status }}
        </option>
    </select>
    <div class="anomaly-detection-container">
        <div class="anomaly-detection-content">
            <div class="anomaly-detection-header">
                <div class="anomaly-detection-tabs">
                    <p class="active">Anomaly Details</p>
                    <p>Anomaly Summary</p>
                    <p>Cluster Infos</p>
                </div>
                <div class="anomaly-detection-action">
                    <button mat-raised-button color="primary">ReBuild</button>
                    <button mat-raised-button color="primary">Apply To</button>
                </div>
                <div class="anomaly-detection-header-divider"> </div>
            </div>
            <div class="chart-container">
                <tb-forcast-chart></tb-forcast-chart>
            </div>
        </div>
    </div>
</div>