<!-- New forecast info container -->
<div class="forecast-info-container">
    <div class="forecast-name">
        <span class="model-label">Model:</span>
        <h3>
            {{ forecastName || id }}
            <!-- Debug: Status is "{{ status }}" -->
            <mat-icon *ngIf="status?.toLowerCase()?.includes('completed') || status?.toLowerCase() === 'complete'"
                class="status-completed-icon" [title]="status">done</mat-icon>
        </h3>
    </div>
    <div class="forecast-actions">
        <div class="left-actions">
            <div class="model-select-container">
                <button mat-outlined-button (click)="openModelSelectionDialog()" class="model-select-button">
                    <mat-icon>list</mat-icon>
                    Other Models
                </button>
            </div>
            <div class="button-container">
                <button mat-raised-button color="primary" (click)="openCreateModelDialog()">
                    <mat-icon>add</mat-icon>New Model
                </button>
            </div>
        </div>
    </div>
</div>

<div class="anomaly-detection-container">
    <!-- <div class="anomaly-detection-header">
        <div class="anomaly-detection-tabs">
            <p class="active">Anomaly Details</p>
            <p>Anomaly Summary</p>
            <p>Cluster Infos</p>
        </div>
        <div class="anomaly-detection-action">
            <button mat-raised-button color="primary">ReBuild</button>
            <button mat-raised-button color="primary">Apply To</button>
        </div>
        <div class="anomaly-detection-header-divider"> </div>
    </div> -->
    <tb-forcast-chart [deviceId]="deviceId" [Attributes]="Attributes" [forecastId]="trueId"></tb-forcast-chart>
    <div style="padding-left: 3em;">
        <h4>Anomalies</h4>
    </div>
</div>