.tb-dark {
  :host {
    // background: none;
    .anomaly-detection-tabs {
      color: blue;
      :hover {
        // color: white;
      }

      .active {
        // color: white;
      }
    }
  }
}

.tb-default {
:host {
  background-color: rgba(255, 255, 255, 0.715);
.anomaly-detection-tabs {
:hover {
      color: #333333;
    }

    .active {
      color: #333333;
    }

}
}
}

:host {
  height: 94%;
  display: block;
  overflow: scroll;

  height: 93%;
  display: block;
  overflow: scroll;
  display: flex;
  flex-direction: column;

  .history-toolbar-icon {
  width: 20px;
    height: 20px;
    display: flex;
  align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;

  }
ul {
  text-align: center;
}
  .end-date {
      // background: #e0e0e0;
  width: fit-content;
        .mat-form-field {
        width: auto !important;
    }
    .mat-select-value {
        max-width: 100%;
        width: auto;
    }
  }

.chart-container {
  padding-top: 0.5rem;
  height: 50%;
  overflow: hidden;
  // padding-inline: 2em;
}

.chart {
  height: 100%;
}

.title {
  margin-right: auto;
font-size: 1.3em;
  font-weight: 500;
}

.history-container {
  width: 100%;
  display: flex;
  height: 10%;
  align-items: baseline;
  justify-content: end;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-right: 3em;
  padding-left: 6em;

  button {
    background: var(--tb-dark-dialog);
    border: 1px solid gray;
    border-radius: 5px;
  }
}

.datepicker-container {
  // background: #f4f4f4;
  background: var(--tb-dark-mat-500);
}
  .datepicker-container {
    // display:flex;
    display: none;
    position: absolute;
    right: 0;
    z-index: 1000;
    width:max-content;
    padding: .9em 1.1em;
    border-radius: 10px;
    border: 1px solid #b0b0b0;
    gap: 1em;
    text-align: center;
    font-weight: 500;
  }

  .datepicker-apply {
    // flex-basis: 100%;
  }

.history {
  // background: #e0e0e0;
  width: fit-content;
        .mat-form-field {
        width: auto !important;
    }
    .mat-select-value {
        max-width: 100%;
        width: auto;
    }
}

.history:nth-child(1){
    background: red;
}

.history_chart {
  // font-size: 120%;
}


  .graph-toggle {
    display: 'inline';
  }

  .history-toolbar-icon::before {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPg0KPHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0yMCAxMFY3QzIwIDUuODk1NDMgMTkuMTA0NiA1IDE4IDVINkM0Ljg5NTQzIDUgNCA1Ljg5NTQzIDQgN1YxME0yMCAxMFYxOUMyMCAyMC4xMDQ2IDE5LjEwNDYgMjEgMTggMjFINkM0Ljg5NTQzIDIxIDQgMjAuMTA0NiA0IDE5VjEwTTIwIDEwSDRNOCAzVjdNMTYgM1Y3IiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+DQo8cmVjdCB4PSI2IiB5PSIxMiIgd2lkdGg9IjMiIGhlaWdodD0iMyIgcng9IjAuNSIgZmlsbD0iIzAwMDAwMCIvPg0KPHJlY3QgeD0iMTAuNSIgeT0iMTIiIHdpZHRoPSIzIiBoZWlnaHQ9IjMiIHJ4PSIwLjUiIGZpbGw9IiMwMDAwMDAiLz4NCjxyZWN0IHg9IjE1IiB5PSIxMiIgd2lkdGg9IjMiIGhlaWdodD0iMyIgcng9IjAuNSIgZmlsbD0iIzAwMDAwMCIvPg0KPC9zdmc+);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }
}
